.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
  width:100%;
  margin-bottom: 60px;
}
.container-live.inline .timeline{
  margin-bottom:0px;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
  float: left;
  clear: left;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 98%;
  float: left;
  border: 1px solid #d4d4d4;
  /*border-radius: 2px;*/
  /*padding: 20px;*/
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.container-live.nb-col-1 .timeline > li > .timeline-panel {
  width: 95%;
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 24px;
  height: 24px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 31px;
  right: -12px;
  /*background-color: #999999;*/
  z-index: 0;
  /*
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  */
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge > a {
  color: #C5C7C5 !important;
}
.timeline-badge a:hover {
  color: #000 !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
    padding:20px;
    margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}
.newsContent {
    white-space: pre-line;
}
.timeline-footer{
    padding:0px 10px;
    background-color:#f4f4f4;
}
.timeline-footer > a{
    cursor: pointer;
    text-decoration: none;
}
.timeline > li.timeline-inverted{
  float: right; 
  clear: right;
  margin-top: 0px;
  margin-bottom: 30px;
}

.timeline > li.timeline-inverted > .timeline-badge{
  left: -12px;
}

.activity-image{
  width: 100%;
  height: 300px;
  overflow-y: hidden;
}
.activity-image img{
  min-width:100%;
  min-height: 100%;
}
.text-large{
  font-size: 16px;
}
.text-bold{
  font-weight: 700;
}
.activity-title{
  font-size: 20px;
}
.activity-heading{
position: absolute;
top: 255px;
left: 0px;
right: 0px;
background-color: rgba(250,250,250,0.8);
}
.text-xss{
  font-size:12px;
}
.settingsNews{
  margin:7px;
  color: #777;
}
.addMargin{
  margin-top: 50px !important;
}
#noMoreNews{
  text-align: center;
  font-size: 20px !important;
  left: 0px;
  right: 0px;
}
h5.srcMedia{
  text-transform: none;
  font-size:16px;
}
.list-news .timeline-panel .smartgrid-slide-element{
  width: 100%;
}
.list-news .smartgrid-slide-element .img-back-card .container-img-card{
  text-align: center;
}
 .list-news .timeline-panel .smartgrid-slide-element .img-back-card img{
    max-height: 450px;
    width: auto;
    margin: auto;
 }
@media (max-width: 767px) {
  .container-live.nb-col-1 .timeline > li > .timeline-panel{
    width:100%;
  }
    ul.timeline:before {
        left: 0px;
    }

    ul.timeline > li {
      margin-bottom: 20px;
      position: relative;
      width:100%;
      float: left;
      clear: left;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: -11px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
        margin-right: 18px;
        width: 90%;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
    
.timeline > li.timeline-inverted{
  float: left; 
  clear: left;
  margin-top: 0px;
  margin-bottom: 30px;
}

  .timeline > li.timeline-inverted > .timeline-badge{
    left: -12px;
  }
}

.container-live.inline .timeline::before {
    width: 0px;
}

.container-live.inline .timeline > li > .timeline-badge {
    display: none;
}
.container-live.inline .timeline > li > .timeline-panel:before, .container-live.inline .timeline > li > .timeline-panel:after {
    border-right-width: 0px;
    border-left-width: 0px;
}

.container-live.inline .timeline > li > .timeline-panel {
    width: 100%;
}
.container-live.inline .timeline > li{
  margin-top: inherit !important;
}
.container-live.inline.nb-col-3 .timeline > li{
  clear: inherit;
  float: left;
}
.container-live.nb-col-2 .timeline > li{
  width: 50%;
}
.timeline-body > p, .timeline-body > ul{
    padding:0px;
    font-size:14px;
  } 
  /*.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img{
    display:inline;
  }*/
  .timeline-footer{
    min-height:40px;
  }

  .timeline-heading h5{
    padding: 10px 10px !important;
    min-height: 55px;
  }

  .srcMedia{
    text-align:right;
  }
  .timeline-inverted .srcMedia{
    text-align:left;
  }

  .link-read-media{
    float: left;
  }
  .timeline-inverted .link-read-media{
    float: right;
  }
  .srcMedia small.ilyaL{
    display: inline;
    line-height: 1.3;
  }
  .srcMedia small.ilyaR{
    display: none;
    line-height: 1.3;
  }
  .timeline-inverted .srcMedia small.ilyaL{
    display: none;
  }
  .timeline-inverted .srcMedia small.ilyaR{
    display: inline;
  }

  .ctnr-txtarea{
    left:40px!important;
  }
  .newsAddComment{
    margin-right:15px;
    font-weight:700;
  }
  .nbNewsComment{
    font-weight: inherit !important;
    cursor: pointer;
  }
  .nbNewsComment:hover{
    text-decoration: underline;
  }
  .reportAbuse {
    text-decoration: none;
  }
  .reportAbuse span{
    font-size: 11px;
    vertical-align: text-bottom;
    line-height: 10px;
  }
  #reasonComment{
    margin-top:15px;
  }

  @media (max-width: 767px){
    .timeline > li{
      width: 100% !important;
    }
    .timeline > li > .timeline-badge{
      display: none;
    }
    .timeline > li > .timeline-panel{
      width: 100%;
    }
    .timeline > li > .timeline-panel:before, .timeline > li > .timeline-panel:after{
      border:0px; 
    }
  }